@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

nav ul {
    display: flex;
}
nav ul li {
    margin: 10px;
}
.logo__title {
    font-size: 23px;
    margin: 0;
}
.logo__subtitle{
    font-size: 18;
    margin: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}
#aboutme {

    font-size: 18px;
}

.me_photo {
    width: 250px;
    height: 250px;
    border-radius: 200px;
    float: left;
    margin: 20px;
}

#photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#photos img {
    width: 350px;
    margin: 10px;
}

ul {
    list-style: none;
}
a {
    color: black;   
}

footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}